<a href="https://colab.research.google.com/github/restrepo/NC/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [38]:
DF=pd.read_csv('https://raw.githubusercontent.com/restrepo/NC/main/data.csv',names=['AA','BB'])

In [39]:
DF

   AA  BB
0   1   2
1   3   4

In [40]:
DF.loc[1,'BB']

4

In [8]:
df.shape

(100700, 19)

In [53]:
#dtype={'lambda_5':str,'mu12':str}

In [36]:
df=pd.read_csv('./data1_0.csv',names=list(range(19)),dtype={7:str})

In [42]:
df.loc[0,2]

0.53

In [37]:
df.loc[0,7]

'158.11388300841898'

In [43]:
df.loc[51657,7]

'0.+8.05850848819562*I'

In [44]:
df=pd.read_csv('./data1_0.csv',names=list(range(19)))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
df.loc[0,7]

158.11388300841898

In [46]:
df.loc[51657,7]

'0.+8.05850848819562*I'

In [48]:
df.loc[51659,7]

'29.62484433653025'

In [51]:
df[7]=df[7].astype(str)

In [52]:
df.loc[0,7]

'158.11388300841898'