<a href="https://colab.research.google.com/github/restrepo/NC/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('https://raw.githubusercontent.com/restrepo/NC/main/data.csv',names=['AA','BB'])

In [9]:
df

   AA  BB
0   1   2
1   3   4

In [10]:
df=pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRAXwl-kKIYTa3LEk7CSoDfoAqpa-nBoperyomF_tXSpBPoMlx-Uoc_rgrnjN7paNxR1XKOF5IQ1d7K/pub?output=csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
df

         0.                  -10000.  0.53  1  ... 1.1 1.2 1.3 1.4
0        0.  -10.232.929.922.807.500  0.53  1  ...   1   1   1   1
1        0.  -10.471.285.480.508.900  0.53  1  ...   1   1   1   1
2        0.  -10.715.193.052.376.000  0.53  1  ...   1   1   1   1
3        0.   -1.096.478.196.143.180  0.53  1  ...   1   1   1   1
4        0.   -1.122.018.454.301.960  0.53  1  ...   1   1   1   1
...     ...                      ...   ... ..  ...  ..  ..  ..  ..
100695  0.5   -9.120.108.393.559.090  0.53  1  ...   0   1   0   0
100696  0.5   -9.332.543.007.969.900  0.53  1  ...   0   1   0   0
100697  0.5   -9.549.925.860.214.360  0.53  1  ...   0   1   0   0
100698  0.5   -9.772.372.209.558.110  0.53  1  ...   0   1   0   0
100699  0.5                    -1.e6  0.53  1  ...   0   1   0   0

[100700 rows x 19 columns]