<a href="https://colab.research.google.com/github/restrepo/NC/blob/main/analys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('data.csv',labels=)

   1   2
0  3   4